* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* NavBar */
nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: rgb(63, 63, 63);
    justify-content: space-around;
}
nav h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 25px;
}
nav h1:hover {
    color: blueviolet;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 45px;
}
nav ul li {
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}
nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    transition: all 0.4s;
}
nav ul li a:hover {
    color: red;
}
nav button {
    font-size: 24px;
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
    transition: all 0.8s;
}
/* Fim da NavBar */

/* Mobile Menu */

.mobileMenu {
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(12, 11, 11, 0.849);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    flex-direction: column;
    position: fixed;
    animation-duration: 1s;
    margin-top: -500vh;
}
.mobileMenu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 50px;
}
.mobileMenu ul li {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
.mobileMenu ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s;
}
.mobileMenu  ul li a:hover {
    color: red;
}
.mobileMenu button {
    font-size: 24px;
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
@keyframes OpenMenu {
    from {
        margin-top: -500vh;
        border-radius: 600%;
    }
    top {
        margin-top: 0vh;
        border-radius: 600%;
    }
}
@keyframes CloseMenu {
    from {
        margin-top: 0vh;
        border-radius: 0%;
    }
    top {
        margin-top: -500vh;
        border-radius: 600%;
    }
}

@media screen and (max-width: 565px){
    nav {
        justify-content: space-between;
    }
    nav button {
        display: block;
        margin-right: 25px;
    }
    nav ul {
        display: none;
    }
}


/* Fim do Mobile Menu */

/* Slider */

.slider {
    width: 100%;
    height: 70vh;
    overflow: hidden;
}

.slides {
    width: 100%;
    height: 70vh;
    display: flex;
    position: relative;
    transition: all 1s;
}

.slides input {
    display: none;
}

.slide {
    width: 100%;
    position: relative;
    transition: all 1s;
    height: 70vh;
}

.slide > img {
    width: 100vw;
    height: 70vh;
    object-fit: cover;
    object-position: center;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -100%;
}

#radio3:checked ~ .first {
    margin-left: -200%;
}

#radio4:checked ~ .first {
    margin-left: -300%;
}

/* Fim Slider */

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
    width: 100%;
    height: 25vh;
    background-color: rgb(114, 114, 114);
    font-family: Arial, Helvetica, sans-serif;
    
}

.galery {
    width: 100%;
    height: 100%;
    background-color: gray;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}

.containerImage {
    position: relative;
    width: 380px;
    height: 100%;
    margin-top: 30px;
    overflow: hidden;
    margin-left: 2px;
    margin-right: 2px;
}

.containerImage:last-child {
    margin-bottom: 30px;
}

.infoImage {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.623);
    width: 100%;
    height: 0%;
    transition: all 0.7s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    gap: 18px;
}

.infoImage p {
    font-size: 1.2rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.infoImage button {
    width: 35%;
    height: 25%;
    border-radius: 25px;
    font-size: 1.1rem;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    transition: all 0.4s;
}
.infoImage button:hover {
    background-color: #fff;
    color: black;
}

.containerImage:hover .infoImage{
    height: 98%;
}

@media screen and (max-width: 148px){
    .title {font-size: 0.8rem;}
    nav h1 {font-size: 18px;margin-left: 0;}
    .mobileMenu ul li {font-size: 0.6rem;}
}
@media screen and (max-width: 80px){
    .title {font-size: 0.5rem;}
    nav h1 {font-size: 12px;margin-left: 0;}
    nav button {font-size: 15px;}
}

